<p-table #dt1
         [lazy]="true"
         [columns]="(tableColumns$ | async)!"
         [value]="(transactions$ | async)!"
         [loading]="(isLoading$ | async)!"
         [totalRecords]="(totalNumberOfTransactions$ | async)!"
         [first]="(tableOffset$ | async)!"
         [rows]="(tableLimit$ | async)!"
         [rowsPerPageOptions]="[5,10,15]"
         [showCurrentPageReport]="true"
         [paginator]="true"
         [globalFilterFields]="['status']"
         (onPage)="onPaging($event)"
         responsiveLayout="stack"
         class="transactions-table">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-right">
        <i class="pi pi-spin pi-spinner"></i>
        <p-autoComplete
          [formControl]="statusFilter"
          placeholder="Search by status"
          [suggestions]="statusOptionsFiltered"
          field="value"
          [dropdown]="true"
          [forceSelection]="true"
          (completeMethod)="onSearch($event)"
          (onSelect)="onSelect($event)"
          (onClear)="onClear()">
        </p-autoComplete>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        <div class="p-d-flex p-jc-between p-ai-center">
          {{col.header}}
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <span class="p-column-title">{{col.header}}</span><span class="p-column-field">{{rowData[col.field]}}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
