<p-table #dt1
         [lazy]="true"
         [columns]="(tableColumns$ | async)!"
         [value]="(transactions$ | async)!"
         [loading]="(isLoading$ | async)!"
         [totalRecords]="(totalNumberOfTransactions$ | async)!"
         [first]="(tableOffset$ | async)!"
         [rows]="(tableLimit$ | async)!"
         [rowsPerPageOptions]="[5,10,15]"
         [showCurrentPageReport]="true"
         [paginator]="true"
         [globalFilterFields]="['status']"
         (onPage)="onPaging($event)"
         responsiveLayout="stack"
         class="transactions-table">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-right">
        <i class="pi pi-spin pi-spinner"></i>
        <p-autoComplete
          placeholder="Search by status"
          field="value"
          [formControl]="statusFilter"
          [suggestions]="statusOptionsFiltered"
          [dropdown]="true"
          [forceSelection]="true"
          (completeMethod)="onSearch($event)"
          (onSelect)="onSelect($event)"
          (onClear)="onClear()">
          <ng-template let-status pTemplate="item">
            <div class="text-sm" [ngClass]="'status ' + status.value">{{status.value}}</div>
          </ng-template>
        </p-autoComplete>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        <div class="p-d-flex p-jc-between p-ai-center">
          {{col.header}}
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns" [ngSwitch]="col.type" [ngClass]="col.type">
        <ng-container *ngSwitchCase="'text'">
          <span class="p-column-title">{{col.header}}</span>
          <span class="p-column-field">{{rowData[col.field]}}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'enum'">
          <span class="p-column-title">{{col.header}}</span>
          <span [ngClass]="'status ' + rowData[col.field]" class="p-column-field">{{rowData[col.field]}}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'date'">
          <span class="p-column-title">{{col.header}}</span><span
          class="p-column-field">{{rowData[col.field] | date}}</span>
        </ng-container>
        <ng-container *ngSwitchCase="'number'">
          <span class="p-column-title">{{col.header}}</span>
          <span class="p-column-field number">{{rowData[col.field] | number}}</span>
        </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table>
