<p-table #dt1
         [lazy]="true"
         [columns]="(tableColumns$ | async)!"
         [value]="(transactions$ | async)!"
         [loading]="(isLoading$ | async)!"
         [totalRecords]="(totalNumberOfTransactions$ | async)!"
         [first]="(tableOffset$ | async)!"
         [rows]="(tableLimit$ | async)!"
         [rowsPerPageOptions]="[5,10,15]"
         [showCurrentPageReport]="true"
         [paginator]="true"
         dataKey="id"
         [globalFilterFields]="['status']"
         responsiveLayout="stack"
         class="transactions-table">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <!--      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>-->
      <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                           placeholder="Search keyword"/>
                </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        <div class="p-d-flex p-jc-between p-ai-center">
          {{col.header}}
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <span class="p-column-title">{{col.header}}</span><span class="p-column-field">{{rowData[col.field]}}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
